[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "standrecon"]
	path = standrecon
	url = https://github.com/kriggithub/standrecon
